<span class="caps med-gray caps">my2q</span>
<table class="bio">
  <tr>
    <td class="bio-category"><span class="caps">cause:</span></td>
    <td class="bio-details"><span><%= render @profile.organizations.cause %></span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">issues: </span></td>
    <td class="bio-details"><span>Causes of Poverty, Conflicts in Africa. Human Rights, world Hunger and Poverty</span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">myers-briggs: </span></td>
    <td class="bio-details"><span><%= @profile.MBTI %></span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">career: </span></td>
    <td class="bio-details"><span><%= @profile.career %></span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">volunteer: </span></td>
    <td class="bio-details"><span><%= render @profile.organizations.volunteer %></span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">give: </span></td>
    <td class="bio-details"><span><%= render @profile.organizations.give %></span></td>
  </tr>
  <tr>
    <td class="bio-category"><span class="caps">campaign: </span></td>
    <td class="bio-details"><span><%= render @profile.organizations.campaign %></span></td>
  </tr>
</table>
