<span class="caps med-gray caps">my2q</span>
<table class="bio">
  <%= render "organization_detail", title: "cause", organizations: @profile.organizations.cause %>

  <% if @profile.issues.count > 0 %>
    <tr>
      <td class="bio-category"><span class="caps">issues: </span></td>
      <td class="bio-details"><span><%= @profile.issues.map(&:display_text).join(", ") %></span></td>
    </tr>
  <% end %>

  <% if @profile.MBTI %>
    <tr>
      <td class="bio-category"><span class="caps">myers-briggs: </span></td>
      <td class="bio-details"><span><%= @profile.MBTI %></span></td>
    </tr>
  <% end %>

  <% if @profile.career %>
    <tr>
      <td class="bio-category"><span class="caps">career: </span></td>
      <td class="bio-details"><span><%= @profile.career %></span></td>
    </tr>
  <% end %>

  <%= render "organization_detail", title: "volunteer", organizations: @profile.organizations.volunteer %>
  <%= render "organization_detail", title: "give", organizations: @profile.organizations.give %>
  <%= render "organization_detail", title: "campaign", organizations: @profile.organizations.campaign %>
</table>
