<span class="my-videos">my2q</span>
<table class="bio">

  <%= render "basic_detail", title: "issues", detail: profile.issues.map(&:display_text).join(", ") %>
  <%= render "organization_detail", title: "time", organizations: profile.organizations.time %>
  <%= render "basic_detail", title: "talents", detail: profile.talents.map(&:display_text).join(", ") %>
  <%= render "organization_detail", title: "treasure", organizations: profile.organizations.treasure %>
  <%= render "organization_detail", title: "campaigns", organizations: profile.organizations.campaign %>
  <%= render "basic_detail", title: "personality", detail: profile.personality %>
</table>
