<div class="row">
  <div class="small-11  medium-10 medium-offset-2 columns">
    <h2>Edit your profile</h2>
  </div>
</div>
<%= form_for(@profile) do |f| %>
  <div class="row">
    <div class="small-11  medium-10 medium-offset-2 columns">
      <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@foo_model.errors.count, "error") %> prohibited this foo_model from being saved:</h2>

          <ul>
            <% @foo_model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row bio-form">
    <div class="small-11  medium-10 medium-offset-2 columns">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :name, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :location, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :location %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :career, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :career %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :MBTI, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :MBTI %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :bio, :class=>"form-label" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-9 columns">
          <%= f.text_area :bio %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-11  medium-10 medium-offset-2 columns">

      <div class="row">
        <div class="small-12 medium-9 columns">
          <% %w[volunteer cause give campaign].each do |org_type| %>

            <h3><%= org_type.titlecase %></h3>
            <%= f.fields_for :organizations, @profile.organizations.send(org_type) do |builder| %>
              <%= render 'organization_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add #{org_type.titlecase}", f, :organizations, :org_type => org_type %>

            <br>
          <% end %>

          <h3>Issues</h3>
          <%= f.fields_for :issues do |builder| %>
            <%= render 'issue_fields', f: builder %>
          <% end %>
          <%= link_to_add_fields "Add Issue", f, :issues %>

          <br>
          <!-- class => 'button' -->
          <%= f.submit 'save', :class => 'button green-button'  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
