<div class="row">
  <div class="small-11  medium-10 medium-offset-2 columns">
    <h2>Edit your profile</h2>
  </div>
</div>
<%= form_for profile, url: current_profile_path do |f| %>
  <div class="row">
    <div class="small-11  medium-10 medium-offset-2 columns">
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@foo_model.errors.count, "error") %> prohibited this foo_model from being saved:</h2>

          <ul>
            <% @foo_model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row bio-form">
    <div class="small-11  medium-10 medium-offset-2 columns">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :name, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :location, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :location, placeholder: "Enter your city" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :career, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :career, placeholder: "What do you do for a living?" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :personality, :class=>"form-label" %>
        </div>
        <div class="small-12 medium-5 columns left">
          <%= f.text_field :personality, placeholder: "What are you like?  Do you know your MBTI?" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.label :bio, :class=>"form-label" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-9 columns">
          <%= f.text_area :bio %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-11  medium-10 medium-offset-2 columns">

      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="section-label">Issues:<span>What issues break your heart?</span></h3>
          <%= f.text_field :issue_tokens, value: profile.issue_tokens.join(",") %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="section-label">Talents:<span>What makes you come alive?  What do you love doing?</span></h3>
          <%= f.text_field :talent_tokens, value: profile.talent_tokens.join(",") %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="section-label">Time:<span>Where do you volunteer?</span></h3>
          <%= f.fields_for :organizations, profile.organizations.time do |builder| %>
            <%= render 'organization_fields', f: builder %>
          <% end %>
          <p><%= link_to_add_fields f, :organizations, :org_type => :time %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="section-label">Treasure:<span>Who do you support financially?</span></h3>
          <%= f.fields_for :organizations, profile.organizations.treasure do |builder| %>
            <%= render 'organization_fields', f: builder %>
          <% end %>
          <p><%= link_to_add_fields f, :organizations, :org_type => :treasure %></p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="section-label">Campaigns:<span>What have you crowdfunded?</span></h3>
          <%= f.fields_for :organizations, profile.organizations.campaign do |builder| %>
            <%= render 'organization_fields', f: builder %>
          <% end %>
          <p><%= link_to_add_fields f, :organizations, :org_type => :campaign %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-10 medium-offset-2 columns">
      <br/><br/>
      <%= f.submit 'save', :class => 'button green-button'  %>
    </div>
  </div>
<% end %>
