<div class="container message">
  <div class="row message">
    <div class="small-1 columns">
      <%= image_tag "mystery-man.jpg", :class => "profile-pic" %>
    </div>
    <div class="small-11 columns">
      <p class="caps black"><%= @profile.name %></p>
      <p class="caps med-gray minus-20"><%=@profile.location %></p>
      <p class="thin-font minus-10"><%=@profile.bio %></p>
      <%= link_to "Edit Profile", edit_profile_path, class: "button green-button white" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= render "profile_details" %>

    <%= link_to new_video_path, class: "button bio-button green-button white" do %>
      <span class="caps submit-text">submit a video</span><br>
      <span class="thick-font black button-text">What are you doing with Y2Q?</span>
    <% end %>
  </div>
  <div class="small-8 columns">
    <span class="med-gray caps">my videos</span>
    <ul class="small-block-grid-3 video-grid">
      <li>
        <iframe src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>
      <li>
        <iframe src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>
    </ul>
  </div>
</div>
