<div class="row">
  <div class="small-12 medium-10 medium-offset-2 columns">
    <h2>How to Y2Q</h2>
  </div>
</div>

<div class="row">
  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Reflect", icon_class: "fa fa-2x blurb-number-1" } do %>
    <p>Think about what breaks your heart and what makes you come alive.</p>
  <% end %>
  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Film", icon_class: "fa fa-2x blurb-number-2" } do %>
    <p>Upload a video to YouTube telling us how you are (or will) put these two together.</p>
  <% end %>
  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Submit", icon_class: "fa fa-2x blurb-number-3" } do %>
    <p>Submit your video to Y2Q using the form below.</p>
  <% end %>
</div>


<div class="row">
  <div class="small-12 columns">
    <dl class="accordion" data-accordion>
      <%= render "three_questions" %>
      <%= render "video_types" %>

      <%= render "upload_instructions" %>
    </dl>
  </div>
</div>
