<span class="videos-title"><%= section_title %></span>&nbsp;<span>(<%=videos.length%>)</span>
    <div class="isotope js-isotope" data-isotope-options='{ "itemSelector": ".item", "masonry": { "columnWidth": 200, "gutter": 20 } }'>
      <div class="grid-sizer"></div>
      <% videos.each do |v| %>
    <div class="item <%= get_num_matches(v.inspiration.id, v.heartbreak.id, i_filter, hb_filter) > 1 ? 'width2 height2' : '' %>" data-heartbreak-id="<%= v.heartbreak.id %>" data-inspiration-id="<%= v.inspiration.id %>">
      <%= image_tag v.thumbnail_url.blank? ? "video-placeholder-large.jpg" : v.thumbnail_url, class: "video-ss", data: { id: v.id } %>
      <%= image_tag "brokenheart-18x18.png" %>
      <span class="heartbreak"><%= v.heartbreak.display_text %></span>
      <%= image_tag "heartbeat-18x18.png" %>
      <span class="inspiration"><%= v.inspiration.display_text %></span>
    </div>
      <% end %>
    </div>
  </div>

<div id="video_modal" class="reveal-modal medium text-center" data-reveal>
<div id="video_template">
  <div class="flex-video widescreen">
  </div>
</div>
