    <span class="videos-title">videos</span>&nbsp;<span>(<%=videos.length%>)</span>
    <div class="isotope js-isotope" data-isotope-options='{ "itemSelector": ".item", "masonry": { "columnWidth": 200, "gutter": 20 } }'>
      <div class="grid-sizer"></div>
      <% videos.each do |v| %>
    <div class="item <%= v.id % 4 == 0 ? 'width2 height2' : '' %>" data-heartbreak-id="<%= v.heartbreak.id %>" data-inspiration-id="<%= v.inspiration.id %>">
      <%= image_tag v.thumbnail_url.blank? ? "video-placeholder-large.jpg" : v.thumbnail_url, class: "video-ss", data: { src: get_embed_src(v.embed_url) } %>
      <%= image_tag "brokenheart-18x18.png" %>
      <span class="heartbreak"><%= v.heartbreak.display_text %></span>
      <%= image_tag "heartbeat-18x18.png" %>
      <span class="inspiration"><%= v.inspiration.display_text %></span>
    </div>
      <% end %>
    </div>
  </div>

