<div class="row message">
  <div class="small-9 columns">
    <p>What breaks your heart? What makes you come alive? When you discover your answers, upload a video about it! your video will inspire others to do the same, and your impact will be multiplied.</p>
    <p class="bold">See how others answered <span>their</span> 2 Questions in the videos below.</p>
  </div>
  <div class="small-3 columns">
    <a href='<%= new_video_path %>' class="button results-button green-button"><span class="thick-font black button-text">Ready to share your story...<br>and inspire someone else's</span><br><span class="caps submit-text">submit a video</span></a>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
  <%= form_tag filtered_videos_path, :method => :get do |f| %>
    <span class="large-number">1</span><span class="what-header">what breaks<br>your heart?</span>
    <ul id="heartbreaks-filter" class="what-lists">
  <% @heartbreaks.each do |hb| %>
    <li>
      <div class="text-center">
        <%= check_box_tag "heartbreak_ids[]", hb.id, false, :id => "heartbreak_ids_#{hb.id}" %>
      </div>
      <%= label_tag "heartbreak_ids_#{hb.id}", hb.display_text %>
    </li>
  <% end %>
    </ul>
    <span class="large-number">2</span><span class="what-header">what makes<br>you come alive?</span>
  <ul id="inspirations-filter" class="what-lists">
  <% @inspirations.each do |i| %>
    <li>
      <div class="text-center">
        <%= check_box_tag "inspiration_ids[]", i.id, false, :id => "inspiration_ids_#{i.id}" %>
      </div>
      <%= label_tag "inspiration_ids_#{i.id}", i.display_text %>
    </li>
  <% end %>
    </ul>
    <%= submit_tag "submit" %>
  <% end %>
  </div>
  <div id="videos-area" class="small-9 columns videos">
     <%= render "filtered_videos", videos: @videos, i_filter: [], hb_filter: []%>
  </div>
</div>
<div id="video_modal" class="reveal-modal medium text-center" data-reveal>

</div>
<div id="video_template">
  <div class="flex-video widescreen">
    <iframe width="560" height="315" src="" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
