<div class="message">
  <div class="row">
    <div class="small-12 medium-7 columns">
      <p>What breaks your heart? What makes you come alive? When you discover your answers, upload a video about it! your video will inspire others to do the same, and your impact will be multiplied.</p>
      <p class="bold">See how others answered <span>their</span> 2 Questions in the videos below.</p>
    </div>
    <div class="medium-2 columns">
        &nbsp;
    </div>
    <div class="small-12 medium-3 columns">
      <a href='<%= new_video_path %>' class="button results-button green-button"><span class="button-text">Ready to share your story...<br>and inspire someone else's</span><br><span class="caps submit-text">submit a video</span></a>
    </div>
  </div>
</div>

<div class="row">
<div class="small-12 medium-3 columns">
    <%= form_tag filtered_videos_path, :method => :get, :id => 'filter_form' do |f| %>
    <span class="large-number">1</span><span class="what-header">what breaks<br>your heart?</span>
    <ul id="heartbreaks-filter" class="what-lists">

    <% hb_viewmodels.each do |hb| %>
      <li class="<%= 'selected' if hb[:checked] %>">
        <div class="text-center">
          <%= check_box_tag "hb[]", hb[:id], false, :id => "hb_#{hb[:id]}", :checked => hb[:checked] ? "checked" : nil, :autocomplete => "off" %>
        </div>
        <%= label_tag "hb_#{hb[:id]}", hb[:display_text] %>
      </li>
    <% end %>

    </ul>
    <span class="large-number">2</span><span class="what-header">what makes<br>you come alive?</span>
    <ul id="inspirations-filter" class="what-lists">
      <% i_viewmodels.each do |i| %>
        <li class="<%= 'selected' if i[:checked] %>">
          <div class="text-center">
            <%= check_box_tag "i[]", i[:id], false, :id => "i_#{i[:id]}", :checked => i[:checked] ? "checked" : nil, :autocomplete => "off" %>
          </div>
          <%= label_tag "i_#{i[:id]}", i[:display_text] %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>
  <div id="videos-area" class="small-12 medium-9 columns videos">
    <%= render "filtered_videos", videos: @videos, i_filter: @i_filter, hb_filter: @hb_filter, section_title: "Videos" %>
  </div>
  </div>
</div>

</div>
