<div class="row message">
  <div class="small-9 columns">
    <p class="thin-font">What breaks your heart? What makes you come alive? When you discover your answers, upload a video about it! your video will inspire others to do the same, and your impact will be multiplied.</p>
    <p class="bold thin-font">See how others answered their 2 Questions in the videos below.</p>
  </div>
  <div class="small-3 columns">
    <a href='<%= new_video_path %>' class="button results-button green-button white"><span class="thick-font black button-text">Ready to share your story...<br>and inspire someone else's</span><br><span class="caps submit-text">submit a video</span></a>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <span class="med-gray large-number">1</span><span class="caps main-green">what breaks<br>your heart?</span>
    <ul class="what-lists">
	<% @heartbreaks.each do |hb| %>
		<li>
			<input id="checkbox_<%=hb.id%>" type="checkbox">
			<label for="checkbox_<%=hb.id%>">
				<%= hb.display %>
			</label>
		</li>
	<% end %>
    </ul>
    <span class="med-gray large-number">2</span><span class="caps main-green">what makes<br>you come alive?</span>
	<ul class="what-lists">
	<% @inspirations.each do |i| %>
		<li>
			<input id="checkbox_<%=i.id%>" type="checkbox">
			<label for="checkbox_<%=i.id%>">
				<%= i.display %>
			</label>
		</li>
	<% end %>
    </ul>
  </div>
  <div class="small-8 columns">
    <span class="med-gray caps">videos</span>
    <div class="isotope js-isotope" data-isotope-options='{ "itemSelector": ".item", "masonry": { "columnWidth": ".grid-sizer" } }'>
      <div class="grid-sizer"></div>
      <iframe class="item width2 height2" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe class="item height2 width2" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe class="item" src="//player.vimeo.com/video/70411024"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
