<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="give-header text-center">what will you give?</h3>
  </div>
</div>

<div class="row give-categories">
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Time.png", class: "give-icons" %>
    <div class="give-description">
      <span class="span-header">time</span><br>
      <span class="subtext">
        How can you best allocate your scarcest resource?
        <a href="http://VolunteerMatch.org" target="_blank" class="external-link">VolunteerMatch.org</a>
        <a href="http://VolunteerMatch.org" target="_blank" class="external-link">
          <%= image_tag "externalsite-11x11.png", class: "external" %>
        </a> is a great site to connect you to organization needing help in your area.
      </span>
    </div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Talent.png", class: "give-icons"%>
    <div class="give-description">
      <span class="span-header">talent</span><br>
      <span class="subtext">
        There are internships &amp; careers out there for people who wnat to make a differnece in the world.
        <a href="http://Idealist.org" target="_blank" class="external-link">Idealist.org</a>
        <a href="http://Idealist.org" target="_blank"  class="external-link">
          <%= image_tag "externalsite-11x11.png", class: "external" %>
        </a> is dedicated to introducing you to those opportunities.
      </span>
    </div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Treasure.png", class: "give-icons" %>
    <div class="give-description">

      <span class="span-header">treasure</span><br>
      <span class="subtext">
        <a href="http://GivingLibrary.org" target="_blank" class="external-link">GivingLibrary.org</a>
        <a href="http://GivingLibrary.org" target="_blank"  class="external-link">
          <%= image_tag "externalsite-11x11.png", class: "external" %>
        </a>
        reveals organization that fit your passion and connects you to watchdog sites that rank organizations on fiscal
        responsibility and effectiveness.
      </span>
    </div>
  </div>
</div>
