<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="give-header text-center">what will you give?</h3>
  </div>
</div>

<div class="row give-categories">
  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Time", icon_class: "fa fa-2x fa-clock-o" } do %>
    How can you best allocate your scarcest resource?
    <a href="http://VolunteerMatch.org" target="_blank" class="external-link">VolunteerMatch.org</a>
    <a href="http://VolunteerMatch.org" target="_blank" class="external-link">
      <%= image_tag "externalsite-11x11.png", class: "external" %>
    </a> is a great site to connect you to organizations needing help in your area.
  <% end %>

  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Talent", icon_class: "fa fa-2x fa-trophy" } do %>
    There are internships &amp; careers out there for people who want to make a difference in the world.
    <a href="http://Idealist.org" target="_blank" class="external-link">Idealist.org</a>
    <a href="http://Idealist.org" target="_blank"  class="external-link">
      <%= image_tag "externalsite-11x11.png", class: "external" %>
    </a> is dedicated to introducing you to those opportunities.
  <% end %>

  <%= render layout: "shared/components/blurb", locals: { blurb_title: "Treasure", icon_class: "fa fa-2x fa-money" } do %>
    <a href="http://GivingLibrary.org" target="_blank" class="external-link">GivingLibrary.org</a>
    <a href="http://GivingLibrary.org" target="_blank"  class="external-link">
      <%= image_tag "externalsite-11x11.png", class: "external" %>
    </a>
    reveals organizations that fit your passion and connects you to watchdog sites that rank organizations on fiscal
    responsibility and effectiveness.
  <% end %>
</div>
