<div id="videoheader">
  <iframe id="player_1" src="http://player.vimeo.com/video/70411024?api=1&amp;player_id=player_1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=8cc63e&amp;autoplay=1" width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="container choices">
   <div class="row">
      <div class="small-12 columns">

         <div class="row">
            <div class="small-12 small-centered columns">
               <h2 class="header-shadow choices-header text-center">ask yourself 2 questions</h2>
            </div>
         </div>

         <%= form_tag({controller: 'videos', action: 'index'}, method: 'get', class: 'front-page-form') do %>
            <div class="row">
               <div class="medium-1 columns">&nbsp;</div>
               <div class="small-centered medium-4 medium-uncentered columns text-center">
                  <span class="question">what breaks your heart?</span>
                  <%= collection_select('hb', 'id', @heartbreaks, :id, :display_text, {}, {class: 'question-select'}) %>
                  <span class="subLink">Find out &raquo;</span>
               </div>
               <div class="medium-2 columns">&nbsp;</div>
               <div class="small-centered medium-4 medium-uncentered columns text-center">
                  <span class="question">what makes you come alive?</span>
                  <%= collection_select('i', 'id', @inspirations, :id, :display_text, {}, {class: 'question-select'}) %>
                  <span class="subLink">Know thyself &raquo;</span>
               </div>
               <div class="small-1 columns">&nbsp;</div>
            </div>
            <div class="row">
               <div class="small-12 small-centered columns text-center">
                  <%= submit_tag 'now put them together!', {class: 'button black-button margin-top-30 margin-bottom-70' } %>
               </div>
            </div>
         <% end %>

      </div>
   </div>
</div>

<div class="container quote-image text-center">
  <div class="row">
    <span class="quote">Don't ask what the world needs. Ask what makes you<br>
      come alive, and go do it. Because what the world needs<br>
      is people who have come alive.</span>
    <br>
    <span class="quote-signature">- howard thurman</span>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <h2 class="give-header text-center">what will you give?</h3>
  </div>
</div>

<div class="row talent">
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Time.png", class: "give-icons" %>
    <div class="talent-description">
    	<span class="span-header">time</span><br>
	    <span class="subtext">
	      How can you best allocate your scarcest resource?
	      <a href="http://VolunteerMatch.org" target="_blank" class="external-link">VolunteerMatch.org</a>
	      <a href="http://VolunteerMatch.org" target="_blank" class="external-link">
	        <%= image_tag "externalsite-11x11.png", class: "external" %>
	      </a> is a great site to connect you to organization needing help in your area.
	    </span>
    </div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Time.png", class: "give-icons"%>
   	<div class="talent-description">
   		<span class="span-header">talent</span><br>
	    <span class="subtext">
	      There are internships &amp; careers out there for people who wnat to make a differnece in the world.
	      <a href="http://Idealist.org" target="_blank" class="external-link">Idealist.org</a>
	      <a href="http://Idealist.org" target="_blank"  class="external-link">
	        <%= image_tag "externalsite-11x11.png", class: "external" %>
	      </a> is dedicated to introducing you to those opportunities.
	    </span>
	</div>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <%= image_tag "Time.png", class: "give-icons" %>
	<div class="talent-description">

	    <span class="span-header">treasure</span><br>
	    <span class="subtext">
	      <a href="http://GivingLibrary.org" target="_blank" class="external-link">GivingLibrary.org</a>
	      <a href="http://GivingLibrary.org" target="_blank"  class="external-link">
	        <%= image_tag "externalsite-11x11.png", class: "external" %>
	      </a>
	      reveals organization that fit your passion and connects you to watchdog sites that rank organizations on fiscal
	      responsibility and effectiveness.
	    </span>
	</div>

  </div>
</div>

