<a href="<%= video.embed_url %>" target="new">
<%= image_tag video.thumbnail_url.blank? ? "video-placeholder-large.jpg" : video.thumbnail_url, class: "small-thumb" %>
</a>
<div class="video-info">
  <h2><%= video.title %></h2>
  <h3>by <%= video.user.profile.name %></h3>

  <%= image_tag "brokenheart-18x18.png" %>
  <span class="heartbreak"><%= video.heartbreak.display_text %></span>
  <%= image_tag "heartbeat-18x18.png" %>
  <span class="inspiration"><%= video.inspiration.display_text %></span>
<% if video.disapproved %>
  <div>
    <strong>Reason for Disapproval:</strong>
    <%= video.disapproval_reason || "[No reason given]" %>
  </div>
<% end %>
<% unless video.disapproved %>
  <div>
    <%= form_tag(disapprove_admin_video_path(video.id), method: :post) do |f| %>
      <%= hidden_field_tag "disapproval_reason" %>
      <%= submit_tag "Submit", style: "display:none" %>
      <%= link_to "Disapprove", "/" %>
    <% end %>
  </div>
<% end %>
<% unless video.approved %>
  <div>
    <%= link_to "Approve", {:action => 'approve', :id => video }, :method => :post %>
  </div>
<% end %>
</div>
