<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "logo" %>
        <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">Menu</a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li>
        <%= link_to 'videos', videos_path %>
      </li>
      <li>
        <%= link_to 'my2q', current_profile_path %>
      </li>
      <li>
        <%= link_to 'About', about_index_path %>
      </li>
      <li>
        <%= link_to 'Developers', new_developer_path %>
      </li>
    </ul>
    <ul class="right">
    <li>
      <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path,:method => :delete %>
      <% else %>
      <%= link_to "Login", new_user_session_path %>
      <% end %>
    </li>
    </ul>
  </section>
  </nav>
</div>
